.NavBody_in {
  position: relative;
  border-radius: 3px;
  background-color: #d1d1d1;
  background-size: cover;
  background-position: 50%;
  width: 120px;
  height: 60px;
  .NavBody_intext {
    color: hsla(0, 0%, 100%, 0.9);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
  }
}
